doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" contebt="ie=edge")
    title My Pug App
  
  body
    main
      h1 test index.pug
      h2 test browserSync
      h3 works